.content {
    text-align: center;
    font-family: 'Segoe UI Light', Arial, Helvetica, sans-serif;

    color: rgb(88, 156, 105);
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    -webkit-user-select: text;
    -webkit-user-drag: text;
    user-select: text;
    -moz-user-select: text;
}

.content p {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;

    font-size: 4vh;

    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
}

.content p strong {
    color: rgb(202, 102, 102);
}

.content p a {
    color: rgb(140, 211, 240);
}