.content { 
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 85%;
    height: 95%;
    bottom: 0;

    font-family: 'Segoe UI Light', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.lists {
    display: table;

    width: 100%;
    height: 50%;
    border-spacing: 2px;
}

.list-item {
    background: rgb(65, 142, 187);

    display: table-cell;
    table-layout: fixed;
    clear: both;
    text-align: center;
    font-size: 125%;

    border: 1px rgb(60, 160, 190) solid;

    color: rgb(233, 233, 233);

    width: 50%;
}

.list-item-title {
    position: relative;
    top: 0;

    color: rgb(148, 193, 214);
    font-family: "Segoe UI Bold", Arial, Helvetica, sans-serif;
    background: rgb(23, 104, 151);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.list-item span {
    float: left;

    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    color: rgb(34, 173, 238);
}

.weirdbugfix {
    padding-left: 5px;
    padding-right: 5px;
}