@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url(/assets/fonts/UniSansThin.otf);
    font-family: 'Uni Sans Thin';
}

@font-face {
    src: url(/assets/fonts/Rajdhani-Light.ttf);
    font-family: 'Rajdhani Light';
}

@font-face {
    src: url(/assets/fonts/Rajdhani-Regular.ttf);
    font-family: 'Rajdhani';
}

body {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;

    background: rgb(32, 32, 32);

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

main {
    overflow-y: auto;
    font-family: 'Rajdhani', 'Segoe UI', sans-serif;
}

img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
}

*::-webkit-scrollbar {
    width: 4px;
}
 
*::-webkit-scrollbar-track {
    background-color: #292929;
    border-radius: 25px;
}
 
*::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 100px;
}

.hidden {
    display: none !important;
}