@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url(/assets/fonts/Uni Sans Thin.otf);
    font-family: 'Uni Sans Thin';
}

@font-face {
    src: url(/assets/fonts/Rajdhani-Light.ttf);
    font-family: 'Rajdhani Light';
}

body {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    overflow-y: auto;
    overflow-x: hidden;

    background: rgb(32, 32, 32);
}

img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
}